In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

data = pd.read_csv('BeijingPMtrain.csv')

data.head()

,No,year,month,day,hour,season,PM_Dongsi,PM_Dongsihuan,PM_Nongzhanguan,PM_US Post,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
0,1,2010,1,1,0,4,NaN,NaN,NaN,NaN,-21,43.0,1021.0,-11.0,NW,1.79,0.0,0.0
1,2,2010,1,1,1,4,NaN,NaN,NaN,NaN,-21,47.0,1020.0,-12.0,NW,4.92,0.0,0.0
2,3,2010,1,1,2,4,NaN,NaN,NaN,NaN,-21,43.0,1019.0,-11.0,NW,6.71,0.0,0.0
3,4,2010,1,1,3,4,NaN,NaN,NaN,NaN,-21,55.0,1019.0,-14.0,NW,9.84,0.0,0.0
4,5,2010,1,1,4,4,NaN,NaN,NaN,NaN,-20,51.0,1018.0,-12.0,NW,12.97,0.0,0.0

In [4]:
plt.figure(figsize=(10,6))
plt.grid(linestyle='--',alpha=0.5)
plt.plot(data['hour'],data['HUMI'],data['TEMP'])
plt.plot(data['hour'],data['lws']
#idx = np.arange(0,len(data),6)
#plt.xticks(idx,data['hour'][idx],rotation='vertical')
plt.xlabel('hour')
plt.ylabel('Humi,Temp')
plt.show()

SyntaxError: invalid syntax (329398186.py, line 5)